Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
.libs
.deps
config.log
config.status
libtool
*.l[ao]
*.[ao]
y.tab.[ch]
lex.yy.c
*keywords.c
Doxyfile
apidoc/
