BasedOnStyle: LLVM
AlignAfterOpenBracket: true
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: false
  AfterControlStatement: true
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
ColumnLimit: 80
IndentCaseLabels: false
IndentWidth: 4
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
TabWidth: 4
UseTab: Always
